.masterhead{
    background-size: cover;
    min-height: 70vh;
    position: relative;
    color: rgb(32, 2, 27);
    text-shadow: 2px 2px 2px rgb(0,0,.2);
}
h1{
    font-size: 4.5em;
}
.color-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    /* background-color: rgb(0,0,.2); */
}

.grid-container {
    display: grid;
    gap: 20px 30px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #101111;
    padding: 2em;
    color: white;
    /* display: flex;
    flex-wrap: wrap; */
    
  }
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: #101111;
    border: 1px solid white;
    border-radius: 2em;
    padding: auto;
    font-size: 10px;
    text-align: center;
   
  }
  .grid-item div hr {
    background-color: white;
    width: 70%;
    height: 3px;
    /* justify-content: center; */
  }
  .grid-item div span {
        justify-content: center;
  }
  .ajaxImg {
    width: 100%;
    padding: 2em;
}

  @media(max-width: 768px){
    .masterhead{
        min-height: 30vh;
    }
    h1{
        font-size: calc(1.525rem + 3.3vw);
    }
    .grid-container {
        grid-template-columns: auto;
    }
    
}